<div class="breadcrumb">
  <%= link_to "Clients", clients_path %><span>/</span>
  <%= link_to @client.name, @client %><span>/</span> New Matter
</div>

<div class="page-header">
  <h1>New Matter</h1>
</div>

<div class="form-card">
  <%= form_with model: [@client, @matter] do |form| %>
    <%= render "form", form: form, matter: @matter %>
    <div class="form-actions">
      <%= form.submit "Create Matter", class: "btn btn-primary" %>
      <%= link_to "Cancel", @client, class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>
